.bg {
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 140px;
}

.header a {
    text-decoration: none;
    color: #2939A7;
}

body {
    background: white;
}
.item {
    background-color: #d9d9d9;
    color : white;
    padding : 32px;
    margin-left: 120px;
    width: 128px; /* 원하는 너비 */
    height: 38px;

}
.container {
    display: grid;
    grid-template-columns: repeat(4, 220px); /* 4개의 열을 각각 220px로 설정 */
    grid-auto-rows: 97px; /* 자동으로 생성되는 행의 크기를 97px로 설정 */
    gap: 20px; /* 행과 열 사이의 간격을 설정 */
}
aside {
    /* 사이드 바 */
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    text-align: center;
    top: 0;
    right: 0;
    width: 25%; /* 현재는 30%로 설정되어 있음 */
    height: 100%; /* 화면의 높이에 맞춤 */
    padding: 10px;
    box-sizing: border-box;
    line-height: 3;
    font-weight: bold;
    font-size: 28px;
    color: #C1C1C1;
}



aside a {
    text-decoration: none;
    color: #C1C1C1;

}

aside a:hover {
    color: #2939A7;
}

aside li {
    list-style-type: none;
}

.a {
    margin-top: 278px;
    color: #c1c1c1;
}

.box {
    box-sizing: border-box;
    display: inline-block; /* 인라인 레벨 요소를 블록 레벨처럼 처리 */
    width: 148px; /* 너비 128px로 설정 */
    height: 38px; /* 높이 38px로 설정 */
    background-color: #2939A7; /* 원하는 배경색으로 설정 */
    color: #ffffff; /* 글자 색상 설정 */
    text-align: center; /* 가운데 정렬 */
    line-height: 38px; /* 텍스트 세로 중앙 정렬 */
    margin-bottom: 20px;
    margin-left: 120px;
    font-weight: bold ;

}
.box::after {
    content: '';
    display: block;
    width: 935px;
    height: 1px;
    background-color: #2939A7; /* 선의 색상 설정 */
    margin-top: 0; /* 원하는 여백 설정 */
}

.custom-box {
    width: 1090px;
    height: 854px;
    background-color: #F4F4F4; /* 원하는 배경색으로 설정 */
    margin: 35px; /* 원하는 여백 설정 */
    position: fixed;
    z-index: -1;
    top: 120px;
}

.skills-link {
    /* 여기에 SKILLS 링크에 대한 특별한 스타일 작성 */
    color: #2939A7;
    font-weight: bold;
    /* 추가적인 스타일을 원하는 대로 작성 */
}
