@charset "UTF-8";
body {
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
#home {
    display: flex;
}


.content-wrapper {
    /* 가운데랑 오른쪽 사이드바 묶음 */
    display: flex;
    flex: 1;
}
.home-content {
    /* 소개글 */
    margin-left: 191px;
    margin-top: 150px;

}


aside{
    /* 사이드 바 */
    margin-left: auto;
    margin-right: 0;
    background: #C1C1C1;
    padding: 10px;
    box-sizing: border-box;
}
h3, p, a, ul {
    margin: 40px 0;
}


footer{
    padding: 26px 0;
    margin-top: auto;

}
.wrapper{
    /* 맨밑줄 */
    background-color: #2939A7;
    color: #C1C1C1;
    display: flex;
    justify-content: space-between;
    max-width: 11000px;
    margin-top: 0;
    padding: 0 4%;
}



